= form_for @profile, :html=>{ :multipart => true} do |f|
  = render 'shared/errors', :obj => @profile, :msg => false
  = f.label :tag_line
  = f.text_field :tag_line
  = f.label :description
  = f.text_area :description, :cols => 60, :rows => 7
  .clear
  = image_tag current_user.profile.photo.url(:thumb_nail) if !current_user.profile.nil? && !current_user.profile.photo_file_name.nil?
  = f.label :upload_photo
  = f.file_field :photo
  = f.submit('Update',:class=>"btn")
