= render 'shared/errors', :obj => @user, :msg => 'prohibited this user from being registered:'    
= form_for @user do |f|
  = f.label :first_name
  = f.text_field :fname
  = f.label :last_name
  = f.text_field :lname
  = f.label :country
  = f.select :country, [['Canada','Canada'],['USA','USA']]
  = f.label :town
  = f.text_field :town
  = f.label :account_type
  = f.select :account_type, [['Gray User',0],['White User',1]]
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit('Register',:class=>"btn")
